{{!-- views/photo-add.hbs --}}
<div class="text-white">
<h2>upload a new profile picture</h2>
<form method="post" enctype="multipart/form-data" action="/photo/add">
    <input type="file" id="file" name="image">
    <input type="submit" value="Submit">
    <button>Update</button>
</form>


</div>
