{{!-- views/photo-add.hbs --}}

<h2>Upload a new profile picture</h2>
<form method="post" enctype="multipart/form-data" action="/photo/add">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>