<div class="container">
  <h1 class="found">Error!</h1>
  <h2 class="found">OMG! There was an error on the server!</h2>
  <h2 class="found">Call the police and shut down everything! Do it NOW!</h2>

  <img src="/images/police.gif" alt="alt-police!">
</div>