<div class="container">
  <h1 class="errorMessages">Error!</h1>
  <h2 class="errorMessages">OMG! There was an error on the server!</h2>
  <h2 class="errorMessages">Call the police and shut down everything! Do it NOW!</h2>

  <img class="errorMessages gif" src="/images/police.gif" alt="alt-police!">
</div>