<div class="container">
  <h1 class="found">404 Error</h1>
  <h2 class="found">Did you get lost?</h2>
  <h2 class="found">This route does not exist on the app!</h2>
  <div class="found"><img src="/images/jumping-fox.gif" alt="jumping-fox"></div>
</div>