// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (max-width: 850px) { }

@media (max-width: 1200px) {
  nav {
    background-color: #121924 !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .quotes {
    font-size: 10rem !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// 

body {
  padding: 50px;
}

@font-face {
  font-family: starWarsFont;
  // src: url(../font/DeathStar-VmWB.ttf);
  src: url(../font/Starjedi.ttf);
}

* {
  font-family: starWarsFont;
  font-size: 1rem;
}

// Error and 404 layout

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.distanceBar {
  margin-top: 3rem;
}

.errorMessages {
  color: whitesmoke;
}

.gif {
  margin-top: 2rem;
}

// Homepage layout

html,
body {
  margin: 0;
  height: 100vh; //100% view height
  width: 100vw; // 100% view width
}

body {
  background: url(../images/blue-and-purple-cosmic-sky-956999.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
  background-color: transparent !important;
}


nav {
 
  background-color: transparent;
}

.nav-item {
  text-align: right;
}

.indentLogo {
  text-indent: 10%;
}

.quotes {
  color: whitesmoke;
}

.font {
  color: whitesmoke;
}

// left bar

.bar-left {
  margin-top: 19em;
  color: whitesmoke;
  position: fixed;
}

//right bar

.bar-right {
  margin-top: 11rem;
  position: fixed;
}

// Footer

footer {
  // position: fixed;
  height: 2rem;
  bottom: 0;
  width: 100%;
}

.copywrite {
  color: #138396;
}

// stars 

main {
  overflow: hidden;
}

.star {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

//profile

.text-white{
  
  display: flex;
  align-items: center;
  flex-direction: column; 
  img{
    object-fit: cover;
  }
}

.prifile-container{
  background-color: aqua;
   
}